@font-face {
    font-family: Techfont;
    src: url(../font/Techfont.ttf);
}

body {
    font-family: Techfont;
    font-size: 15px;
}

table {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: auto;
}

input[type=text], input[type=password], input[type=email], select {
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Techfont;
  }

input[type=submit] {
    width: 20%;
    background-color: rgba(108, 183, 245, 0.932);
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    left: 40%;
    font-family: Techfont;
}

input[type=submit]:hover {
    background-color: rgba(12, 41, 206, 0.932);
    color: white;
}

.align-right {
    text-align: right;
}

.messageResult {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0px 0px 4px #ff0000;
}